torch==2.2.2
transformers>=4.38.0
sentencepiece>=0.1.99
sacrebleu>=2.4.0
bert-score>=0.3.13
numpy<2.0
spacy==3.7.4
gradio>=4.0.0
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl
